### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### Django ###
*.log
*.pot
*.pyc
*.pyo
__pycache__/
local_settings.py

venv
staticfiles
.env
db.sqlite3
