[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
django-autocomplete-light = "==3.3.0rc6"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
# six = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
