{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}" />

{% if item is None %}
	
	<form action="{% url 'checkout' %}" method="get">
		{{ item_form }}
		{{ item_type_form }}
		
		{% if patron is not None %}
			<input type="hidden" name="patron" value="{{ patron.id }}">
		{% endif %}

		<input type="submit" value="Search">
	</form>

	{% if item_results is not None %}

		{% if item_results.count == 0 %}
			<p> No results found. </p>
		{% elif item_results.count == 1 %}
			<p> 1 result found. </p>
		{% else %}
			<p> {{ item_results.count }} results found. </p>
		{% endif %}

		<ul>
			{% for item in item_results %}
				<li>
				{% if patron is None %}
					<a href="{% url 'checkout' %}?item={{ item.id }}">{{ item }}</a>
				{% else %}
					<a href="{% url 'checkout' %}?item={{ item.id }}&patron={{ patron.id }}">{{ item }}</a>
				{% endif %}
				</li>
			{% endfor %}
		</ul>

	{% endif %}

{% else %}

	<p> checking out item: {{ item }}
	{% if patron is None %}
		<a href="{% url 'checkout' %}">Wrong item?</a>
	{% else %}
		<a href="{% url 'checkout' %}?patron={{ patron.id }}">Wrong item?</a>
	{% endif %}
	</p>

{% endif %}

{% if patron is None %}

	<form action="{% url 'checkout' %}" method="get">
		{{ patron_form }}
		{{ patron_type_form }}
		
		{% if item is not None %}
			<input type="hidden" name="item" value="{{ item.id }}">
		{% endif %}

		<input type="submit" value="Search">
	</form>

	{% if patron_results is not None %}

		{% if patron_results.count == 0 %}
			<p> No results found. </p>
		{% elif patron_results.count == 1 %}
			<p> 1 result found. </p>
		{% else %}
			<p> {{ patron_results.count }} results found. </p>
		{% endif %}
		<ul>
		{% for patron in patron_results %}
			<li>
			{% if item is None %}
				<a href="{% url 'checkout' %}?patron={{ patron.id }}">{{ patron.patron_name }} ({{ patron.email }}) [Patron {{ patron.id }}]</a>
			{% else %}
				<a href="{% url 'checkout' %}?patron={{ patron.id }}&item={{ item.id }}">{{ patron.patron_name }} ({{ patron.email }}) [Patron {{ patron.id }}]</a>
			{% endif %}
			</li>
		{% endfor %}
	{% endif %}

{% else %}

	<p> checking out to patron: {{ patron.patron_name }}
	{% if item is None %}
		<a href="{% url 'checkout' %}">Wrong person?</a>
	{% else %}
		<a href="{% url 'checkout' %}?item={{ item.id }}">Wrong person?</a>				
	{% endif %}
	</p>

{% endif %}

{% if patron is not None and item is not None %}

{% if checkout_object is None %}
<p>
<form action="{% url 'checkout' %}?patron={{ patron.id }}&item={{ item.id }}&confirm=true" method="post">{% csrf_token %}
	<input type="submit" value="Confirm Checkout">
</form>
</p>
{% else %} 
<p>Checkout Successful! The due date is: {{ checkout_object.due_date }}</p>
{% endif %}


{% endif %}

<a href="{% url 'index' %}">Home</a>
