{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>
</head>

<body>
	
<!-- 	<div class="object"> -->
<!-- 	<nav class="clearfix"> -->
<!-- 		<ul class="clearfix"> -->
<!-- 			<li><a href="{% url 'index' %}">BROWSE ITEMS</a></li> -->
<!-- 			<li><a href="{% url 'index' %}">LOOKUP A PATRON</a></li> -->
<!-- 			<li><a href="{% url 'index' %}">CHECKOUT</a></li> -->
<!-- 		</ul> -->
<!-- 		<a href="#" id="pull">Menu</a> -->
<!-- 		 -->
<!-- 	</nav></div> -->
<!-- 	 -->
<!-- <div class="object"> -->
<!-- 	 -->
<!-- 	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Seshat.svg/220px-Seshat.svg.png"> -->
<!-- 	<h1>library catalog</h1> -->
<!-- 	<div class="object"> -->
<!-- 		<a href="{% url 'index' %}">BROWSE ITEMS</a> -->
<!-- 	</div> -->
<!-- 	<div class="object"> -->
<!-- 		<a href="{% url 'index' %}">LOOKUP A PATRON</a>  -->
<!-- 	</div> -->
<!-- 	<div class="object"> -->
<!-- 		<a href="{% url 'index' %}">CHECKOUT</a> -->
<!-- 	</div> -->
<!--  -->
<!-- 	 -->
<!-- </div> -->

{% if checkout_object is not None %}
	<p>Checkout Successful! The due date is: {{ checkout_object.due_date }}</p>
{% endif %}

{% if checkedin_item is not None %}
	<p>{{ checkedin_item.title }} was successfully checked in.</p>
{% endif %}

{% if item is not None %}
	<p> checking out item: {{ item }}
		{% if patron is None %}
			<a href="{% url 'index' %}">Wrong item?</a>
		{% else %}
			<a href="{% url 'index' %}?patron={{ patron.id }}">Wrong item?</a>
		{% endif %}
	</p>
{% endif %}

{% if patron is not None %}
	<p> checking out to patron: {{ patron.patron_name }}
		{% if item is None %}
			<a href="{% url 'index' %}">Wrong person?</a>
		{% else %}
			<a href="{% url 'index' %}?item={{ item.id }}">Wrong person?</a>				
		{% endif %}
	</p>
{% endif %}

{% if item is not None and patron is not None %}
	<p> <form action="{% url 'index' %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="patron" value="{{ patron.id }}">
		<input type="hidden" name="item" value="{{ item.id }}">
		<input type="hidden" name="action" value="checkout">
		<input type="submit" value="Confirm Checkout">
	</form> </p>
{% else %}
	
	<form action="{% url 'index' %}" method="get">
		{{ mode_form }}
		{{ search_form }}
		
		{% if patron is not None %}
			<input type="hidden" name="patron" value="{{ patron.id }}">
		{% endif %}
		
		{% if item is not None %}
			<input type="hidden" name="item" value="{{ item.id }}">
		{% endif %}

		<input type="submit" value="Search">
	</form>

	{% if results is not None %}

		{% if results.count == 0 %}
			<p> No results found. </p>
		{% elif results.count == 1 %}
			<p> 1 result found. </p>
		{% else %}
			<p> {{ results.count }} results found. </p>
		{% endif %}
		
		{% if mode == 'patron' %}
			<ul>
			{% for patron in results %}
				<li>
				<a href="{% url 'patron_record' patron.id %}">{{ patron }}</a>
				<form action="{% url 'index' %}" method="get">
					<input type="hidden" name="patron" value="{{ patron.id }}">
					{% if item is not None %}
						<input type="hidden" name="item" value="{{ item.id }}">
					{% endif %}
					<input type="submit" value="Check Out">
				</form>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<ul>
				{% for item in results %}
					<li>
					<a href="{% url 'item_record' item.id %}">{{ item }}</a>

					{% if item.is_checked_out %}
						(Checked Out)
						<form action="{% url 'index' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="item" value="{{ item.id }}">
							{% if patron is not None %}
								<input type="hidden" name="patron" value="{{ patron.id }}">
							{% endif %}
							<input type="hidden" name="action" value="checkin">
							<input type="submit" value="Check In">
						</form>
					{% else %}
						(Available)
						<form action="{% url 'index' %}" method="get">
							<input type="hidden" name="item" value="{{ item.id }}">
							{% if patron is not None %}
								<input type="hidden" name="patron" value="{{ patron.id }}">
							{% endif %}
							<input type="submit" value="Check Out">
						</form>
					{% endif %}
										
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
{% endif %}

<p><a href="{% url 'new_patron' %}">Add a patron</a></p>
<p><a href="{% url 'new_item' %}">Add an item</a></p>

</body>
</html>
