{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}" />

{% if updated is not None %}
	{% if updated %}
		<p>Item was successfully saved.</p>
	{% else %}
		<p>Item was not successfully saved.</p>
	{% endif %}
{% endif %}

{% if item %}

	<p>ID: {{ item.id }}</p>

	<form action="{% url 'item_record' item.id %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Save">
	</form>

	{% for checkout in checkouts %}
		CHECKED OUT TO: <a href="{% url 'patron_record' checkout.patron.id %}">{{ checkout.patron.patron_name }}</a> (due date: {{ checkout.due_date }})<br>
	{% endfor %}
	<!-- <a href="{% url 'index' %}?item={{ item.id }}">Check this item out</a> -->
	</p>

{% elif form %}

	<form action="{% url 'new_item' %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Save">
	</form>

{% else %}

	<p>There is no item associated with this item number.</p>

{% endif %}

<a href="{% url 'index' %}">Home</a>