{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}" />

{% if updated is not None %}
	{% if updated %}
		<p>Patron was successfully saved.</p>
	{% else %}
		<p>Patron was not successfully saved.</p>
	{% endif %}
{% endif %}

{% if patron %}

	<p>Patron ID: {{ patron.id }}</p>
	
	<form action="{% url 'patron_record' patron.id %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Save">
	</form>
	
	<!-- <a href="{% url 'index' %}?patron={{ patron.id }}"> Check Out an item </a> -->

	<p>Currently checked out:<br>

	{% for checkout in current_checkouts %}
		<a href="{% url 'item_record' checkout.item.id %}">{{ checkout.item.title }}</a> (checked out: {{ checkout.check_out_date }} - due date: {{ checkout.due_date }})<br>
	{% endfor %}
	</p>

	<p>
	Checkout history:<br>

	{% for checkout in old_checkouts %}
		<a href="{% url 'item_record' checkout.item.id %}">	{{ checkout.item.title }} </a> (checked out: {{ checkout.check_out_date }} - checked in: {{ checkout.check_in_date }})<br>
	{% endfor %}

	</p>

{% elif form %}

	<form action="{% url 'new_patron' %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Save">
	</form>

{% else %}

	<p>There is no patron associated with this id number.</p>

{% endif %}

<p><a href="{% url 'index' %}">Home</a></p>